name: Test Pull Request

on:
  pull_request:
    branches:
    - main

jobs:
  unit:
    name: Unit Tests
    runs-on: ubuntu-latest
    steps:
    - name: Setup Go
      uses: actions/setup-go@v1
      with:
        go-version: 1.16
    - name: Checkout
      uses: actions/checkout@v2
    - name: Run Unit Tests
      run: go test -v -count=1 ./...
